<div @animateAll>
  <p style.color="#00000000">.</p>
  <div class="navigation">
    <div class="element-wrap row">
      <div @fallDown class="nav-element col-md-3 col-12" (click)="this.scroll('app-face-card')">
        <h2 class="no-marg">01.</h2>
        <h2>About Me</h2>
        <h2 class="description">A little about who I am and what I do.</h2>
      </div>
      <div @fallDown class="nav-element col-md-3 col-12" (click)="this.scroll('app-skills')">
        <h2 class="no-marg">02.</h2>
        <h2>Skills</h2>
        <h2 class="description">My skills and qualifications.</h2>
      </div>
      <div @fallDown class="nav-element col-md-3 col-12" (click)="this.scroll('app-github')">
        <h2 class="no-marg">03.</h2>
        <h2>Github</h2>
        <h2 class="description">A humble set of repositories.</h2>
      </div>
      <div @fallDown class="nav-element col-md-3 col-12" (click)="this.scroll('app-projects')">
        <h2 class="no-marg">04.</h2>
        <h2>Projects</h2>
        <h2 class="description">Some projects I've worked on.</h2>
      </div>
    </div>
  </div>
  <div @comeUp class="signature">
    <h1>Alexey Shishlyannikov</h1>
    <h1> {{ '\<\/\>' }} Web Developer</h1>
  </div>
  <div @slideLeft class="face">
    <img src="../../assets/halfface.png" alt="">
  </div>
</div>
