<mat-sidenav-container
  class="example-container"
  (backdropClick)="close()">
  <mat-sidenav
    #sidenav
    (keydown.escape)="close()"
    disableClose>
    <p class="margin-top">
      <button
        mat-button
        (click)="close()"
        routerLink="/"
        >ABOUT
      </button>
    </p>
    <p>
      <button
        mat-button
        (click)="close()"
        routerLink="skills">
        SKILLS
      </button>
    </p>
    <p>
      <button
        mat-button
        (click)="close()"
        routerLink="projects">
        PROJECTS
      </button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar (toggleSidenav)="open()"></app-navbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
